    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    .masthead {
      height: 100vh;
      min-height: 500px;
      background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

.btn {
	border-radius: 0px !important;
}